
body {
    background-color:#fff;
    margin:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#1e1e1e;
}

pre {color: #1e1e1e;}

:focus, .shiny-file-input-active, .shiny-file-input-over, .selectize-input.focus {
  outline-width: 0 !important;
  box-shadow: none !important;
}
/********* navbar themes *********/
.navbar-default {
    background-color:#003da5;
    border:none
}
.navbar-default .navbar-nav>li>a{color:#fff}
.navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    color:#1e1e1e;
    background-color:#fff;
}
.navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color:#fff;
    background-color:#2990cf;
}

.navbar-default .navbar-header::before {
  background-image: url("MC_stack_wht_rescaled.png");
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  height: 44px;
  width: 44px;
  margin: 3px;
  margin-right: 15px;
  background-size:contain;
}

.navbar-default .navbar-brand{color:#fff}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
    color:#fff;
    background-color:transparent;
}

a{color:#003da5;}
a:focus,a:hover {
    color:#2990cf;
}
.nav-tabs {border-bottom-color:#003da5;}
.nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    color:inherit;
    border:1px solid #003da5;
    border-bottom-color:transparent;
}

/********* inputs themes *********/
.well {
    background-color:#fff;
    border:1px solid #003da5;
    border-radius:4px;
}

.irs-from,.irs-to,.irs-single,.irs-bar,.irs-bar-edge,.irs-grid-pol{background-color:#003da5;}
.irs-bar,.irs-bar-edge{border-color:#003da5;}

.btn-default {
    color:#1e1e1e;
    background-color:#fff;
    border-color:#003da5;
}
.btn-default:focus,
  .btn-default.focus,
  .btn-default:hover,
  .btn-default:active,
  .btn-default.active,
  .btn-default:active:hover,
  .btn-default.active:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .btn-default:active.focus,
  .btn-default.active.focus {
    color:#fff;
    border-color:#003da5;
    background-color:#2990cf;
}
.btn-primary {
    color:#ffffff;
    background-color:#003da5;
    border-color:#003da5
}
.btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .btn-primary:active.focus,
  .btn-primary.active.focus {
    color:#1e1e1e;
    background-color:#fff;
    border-color:#003da5;
}

.form-control, .selectize-input {
    color:#1e1e1e;
    border-color:#003da5;
}
.form-control:focus, .selectize-input.focus {
    color:#1e1e1e;
    border-color:#2990cf;
}

.datepicker table tr td.active.active,
  .datepicker table tr td span.active.active,
  .datepicker table tr td span.active:active,
  .datepicker table tr td span.active:hover.active,
  .datepicker table tr td span.active:hover:active {
    color:#ffffff;
    background-color:#003da5;
    border-color:#003da5
}
.datepicker table tr td.active.active.focus,
  .datepicker table tr td.active.active:focus,
  .datepicker table tr td.active.active:hover,
  .datepicker table tr td.active.highlighted.active.focus,
  .datepicker table tr td.active.highlighted.active:focus,
  .datepicker table tr td.active.highlighted.active:hover,
  .datepicker table tr td.active.highlighted:active.focus,
  .datepicker table tr td.active.highlighted:active:focus,
  .datepicker table tr td.active.highlighted:active:hover,
  .datepicker table tr td.active:active.focus,
  .datepicker table tr td.active:active:focus,
  .datepicker table tr td.active:active:hover,
  .datepicker table tr td span.active.active.focus,
  .datepicker table tr td span.active.active:focus,
  .datepicker table tr td span.active.active:hover,
  .datepicker table tr td span.active:active.focus,
  .datepicker table tr td span.active:active:focus,
  .datepicker table tr td span.active:active:hover,
  .datepicker table tr td span.active:hover.active.focus,
  .datepicker table tr td span.active:hover.active:focus,
  .datepicker table tr td span.active:hover.active:hover,
  .datepicker table tr td span.active:hover:active.focus,
  .datepicker table tr td span.active:hover:active:focus,
  .datepicker table tr td span.active:hover:active:hover{
    color:#ffffff;
    background-color:#2990cf;
    border-color:#003da5
}
/********* other custom themes *********/

#disclaimer span {color: #f00;}

